.Main-card{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    width: 100%;
    height: 95%;
}
.Main-card h1{
    color: #00AFC4;
    text-align: left;
    font-family: "Cascadia Code";
    font-size: 39.176px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.Main-card input{
    width: 94%;
    height: 25px;
    font-size: 18px;
    border-radius: 4.388px;
    border: 1.755px solid #00AFC4;
    background: #FFF;
    padding: 4px;
}
.Main-card p{
    color: #00AFC4;
    text-align: left;
    font-family: "Myriad Variable Concept";
    font-size: 23.047px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Main-card form{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 90%;
    margin: auto auto;
}
.Main-card .name{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.Main-card .account{
    width: 60%;
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.Main-card .account input{
    width: 97.5%;
}
.Main-card .inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
    width: 100%;
}
.Main-card label{
    color: rgba(88, 171, 199, 0.89);
    font-family: "Cascadia Code";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.Main-card .redirect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 8px;
}
.Main-card .redirect a{
    color:#00AFC4 ;
}
.Main-card button{
    width: 300px;
    height: 50px;
    font-size: 20px;
    color: white;
    border-radius: 4.097px;
    background: #00AFC4;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}
.Main-card button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.titulo-desc{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    gap: 5px;
}

@media (max-width: 480px) {
    .Main-card{
        margin-top: -30px;
        margin-left: 30px;
        gap: 0px;
    }

    .Main-card h1{
        font-size: 40px;
    }

    .Main-card p{
        font-size: 20px;
    }

    .Main-card input{
        width: 90%;
        height: 40px;
        gap: 20px;
    }

    .Main-card form{
        width: 100%;
        margin: 20px auto;
    }

    .Main-card .account{
        margin-top: 30px;
    }

    .Main-card button{
        width: 300px;
    }
}