.Main-card{
    border: 2px solid;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.Main-card h1{
    color: #00AFC4;
    text-align: left;
    font-family: "Cascadia Code";
    font-size: 39.176px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.Main-card input{
    width: 95%;
    height: 50px;
    font-size: 18px;
    border-radius: 4.388px;
    border: 1.755px solid #00AFC4;
    background: #FFF;
}
.Main-card p{
    color: #00AFC4;
    text-align: left;
    font-family: "Myriad Variable Concept";
    font-size: 23.047px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Main-card form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    height: 500px;
    width: 90%;
    margin: 0px auto;
}
.Main-card .name{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.Main-card .account{
    border: 2px solid;
}
.Main-card .inputs{
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
    width: 100%;
}
.Main-card label{
    color: rgba(88, 171, 199, 0.89);
    font-family: "Cascadia Code";
    font-size: 21.42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}