.Mainlogin {
  display: grid;
  grid-template-columns: 2fr 1.4fr;
  width: 100%;
  height: 100vh;
}
.Mainlogin .dibujo2 {
  background: linear-gradient(180deg, #fff 0%, #bff4fa 100%);
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Mainlogin .dibujo2 img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 70%;
}
.nuevo {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 400px;
}
.nuevo h1 {
  color: #00afc4;
  font-size: 45.923px;
}
.nuevo p {
  text-align: left;
  color: #00afc4;
  font-size: 25.468px;
}
.nuevo a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  height: 50px;
  width: 60%;
  color: white;
  border-radius: 4.028px;
  background: #00afc4;
}

@media (max-width: 480px) {
  .Mainlogin {
    display: flex;
    flex-direction: column;
  }

  .Mainlogin .dibujo2 img{
    display: none;
  }

  .nuevo p{
    font-size: 15px;
  }

  .nuevo{
    left: 5%;
    width: 90%;
    align-items: center;
  }

}
