.Register-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background: linear-gradient(180deg, #FFF 0%, #BFF4FA 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.Register-container .dibujo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Register-container .dibujo img{
    width: 100%;
    height: 90%;
}


@media (max-width:480px) {
    .Register-container .dibujo img{
      display: none;
        height: 800px;
    }
}
