.accordion-container {
    width: 80%;
    margin: 0px auto;
    border: 1px solid #ccc;
    margin-top: -80px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
    /* margin-bottom: 300px; */
  }
 .abierto {

    /* margin-top: 120px; */
    margin-bottom: 100px;
  }
  
  .accordion-item {
    border-bottom: 1px solid #ddd;

  }
  
  .accordion-title {
    padding: 15px;
    background: #577f8b;
    color: #fff;
    height: 150px;
    min-height: 150px;
    max-height: 150px;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s;
  }
  
  .icon {
    margin-left: 10px;
  }
  
  .icon-style {
    height: 20px;
    width: 20px;
  }
  
  .accordion-content {
    padding: 15px;
    background: #fff;
    transition: max-height 0.3s ease-out;
  }
  
  .course-container {
    margin-bottom: 20px;
    height: 200px;
    min-height: 200px;
    border: 2px solid #00AFC4;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .course-header {
    height: 170px;
    min-height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .course-icon {
    width: 140px;
    height: 140px;
    margin-right: 10px;
  }
  
  .course-title {
    font-size: 23px;
    text-align: left;
    margin: 0;
  }
  
  .course-progress {
    margin-top: 10px;
    display: flex;
    gap: 25px;
  }
  
/* Estilos personalizados para la barra de progreso */
.progress-bar {
  width: 100%;
  height: 20px;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 8px;
  background-color: #E3E3E3;
  overflow: hidden;
}

/* Estilo del interior de la barra de progreso */
.progress-bar::-webkit-progress-bar {
  background-color: #E3E3E3;
  border-radius: 8px;
}

.progress-bar::-webkit-progress-value {
  background-color: #94D89E;
  border-radius: 8px 0 0 8px; /* Mantiene esquinas redondeadas solo en la parte izquierda */
}

.progress-bar::-moz-progress-bar {
  background-color: #94D89E;
  border-radius: 8px;
}

/* Para el navegador de Internet Explorer y Edge */
.progress-bar {
  background-color: #E3E3E3;
  border-radius: 8px;
}
  .course-header .info{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
  }
  .course-header .button{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: last baseline;
  }
  .course-header .button button{
    height: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .course-button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #0E3A48;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .no-courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: #666;
  }
  
  .no-courses-icon {
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
  }
.course-container span{
  color: #94D89E;
  font-size: 20px;
}
  