.detalle-cont{
    border: 2px solid;
}
.CursoDetalle{
    border: 2px solid;
    background: #093F51;
    width: 100%;
    height: 55vh;
    display: grid;
    grid-template-columns: 1.6fr 1fr;
}
.CursoDetalle .curso{
    display: flex;
}
.CursoDetalle .curso img{
    height: 290px;
}
.CursoDetalle .curso .img{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.CursoDetalle .curso .cont{
    display: flex;
    border: 2px solid;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: normal;
}
.cont h1{
    color: #94D89E;
    font-size: 50px;
}

.cont p{
    color: #FFF;
    font-size: 16.898px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 2px solid;
    width: 80%;
}
/* Seccion del contenido del curso */
.CursoContenido{
    height: 80vh;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
}