.main-containerhome {
    width: 100%;
    /* Elimina height: 100vh para permitir que el contenido crezca dinámicamente */
}

.Cursos {
    width: 100%;
    height: 630px;
    background: linear-gradient(180deg, #afe9f1 0%, #d7f4f8 90%, rgba(215, 244, 248, 0) 100%);
    align-items: center;
}



.miruta{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Cursos .titulo {
    background-color: #0E3A48;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Cursos h1 {
    font-size: 30px;
    color: white !important;
}
.contenido {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.accordion-container {
    width: 80%;
    margin: 40px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Asegura que el contenedor tenga margen suficiente debajo del contenido */
    margin-bottom: 50px; /* Añade espacio entre el accordion y el footer */
}

.accordion-item {
    border-bottom: 1px solid #ddd;
}

/* Otros estilos... */
