.sidebar {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid;
    height: 100vh;
    width: 20%;
}

.sidebar h1 {
    border: 2px solid;
    width: 100%;
    text-align: center;
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente según tu diseño */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    overflow: visible; /* Permite que el texto se muestre completamente */
    white-space: normal; /* Permite el ajuste del texto en múltiples líneas */
    padding: 10px; /* Añade un poco de espacio interno para evitar que el texto se pegue a los bordes */
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total del elemento */
}
