.sidebar {
    background-color: #174858;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    width: 23%;
    min-width: 23%; /* Añadimos un min-width para pantallas pequeñas */
    max-width: 400px; /* Limite de ancho */
    padding: 20px; /* Espacio adicional para una mejor estructura */
    box-sizing: border-box;
}

.contain-lesson {
    background-color: #0E2B34;
    display: flex;
    width: 100%;
    height: 100vh;
}

.sidebar h1 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente según tu diseño */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    overflow: visible; /* Permite que el texto se muestre completamente */
    white-space: normal; /* Permite el ajuste del texto en múltiples líneas */
    padding: 10px; /* Añade un poco de espacio interno para evitar que el texto se pegue a los bordes */
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total del elemento */
}

.sidebar ul {
    color: white;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
    padding: 10px;
}

.sidebar ul li {
    display: flex;
    justify-content: space-between;
    width: 95%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.437);
    align-items: center;
    color: white;
    margin-top: 4px;
    padding: 5px;
    border-radius: 8px;
    text-align: left;
    cursor: pointer; /* Cambiamos el cursor a pointer para que parezca interactivo */
    transition: background-color 0.3s ease; /* Transición suave al hacer hover */
}

.sidebar ul li:hover {
    background-color: #2a6572; /* Efecto hover para los items */
}

.sidebar ul li h2 {
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin: 0; /* Asegura que no haya margenes adicionales */
}

.back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 1rem;
    padding: 12px;
    border-radius: 50%;
    width: 60px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.back-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
/* Añade feedback visual al hover */
}

.back-button .Icono-arrow {
    width: 34px;
    height: 34px;
    color: white;
}
.dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dashboard ul li {
    display: flex;
    color: white;
}

.Icono-cam {
    color: white;
    width: 40px;
    height: 40px;
}
