.Nav-maincontainer{
    background-color: white;
    height: 90px;
    display: flex;
    padding: 10px;
}
.Nav-maincontainer ul{
    width: 100%;
    display: flex;
    gap: 90px;
    font-size: 20px;
    align-items: center;
    justify-content: end;
    margin-right: 20px;
}
.Nav-maincontainer ul li a{
    color: black;
    text-decoration: none;
}

@media (max-width:480px) {
    .Nav-maincontainer img{
        height: 80px;
        width: 300px;
    }
}