.contain-video {
    height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative; /* Para posicionar el loader de manera absoluta sobre el video */
}

.video {
    width: 100%;
    background-color: #06161c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative; /* Posiciona el loader respecto a este contenedor */
    min-height: 500px; /* Asegura que el video tenga un tamaño mínimo mientras carga */
}

.video video {
    scale: 1/1;
    min-width: 90%;
    max-width: 90%;
    width: 90%;
    height: 90%;
    min-height: 90%;
    max-height: 90%;
}

/* Loader que cubre solo el video */
.video-loader {
    position: absolute;
    width: 200px;
    top: 35%;  /* Centramos el loader verticalmente */
    left: 50%; /* Centramos el loader horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para centrarlo completamente */
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    z-index: 10; /* El loader debe estar sobre el video */
}

.contain-video .boton {
    display: flex;
    justify-content: end;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 20px; /* Para que el botón esté siempre en la parte inferior */
}

.contain-video button {
    width: 393px;
    height: 70px;
    border-radius: 4.508px;
    background: #00AFC4;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.contain-video button:hover {
    background-color: #008fa3;
}
